# Frontend (Vite)
VITE_SUPABASE_URL=https://ixqduavphgusdpowfjhn.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_AKcBXui6_4BizNSx2-fuDw_7KSBdvMb
VITE_ADMIN_GITHUB_IDS=sethzpaper
VITE_MANAGER_EMAIL=manager@example.com
